<div class="container-fluid d-flex justify-content-center align-items-center h-100">
    <div class="container d-flex justify-content-center align-items-center flex-column w-50">
        <div class="w-75">
            <h1>Возможности сервиса</h1>
            <hr>
            <h3>Режим обучения</h3>
            <h3>Режим тестирования</h3>
            <h3>Режим экзамена</h3>
            <h3>Режим марафона</h3>
            <h3>Разбор ошибок</h3>
            <h3>Добавление в избранное</h3>
            <hr>
            <a href="/login"><button class="btn btn-main w-100" style="margin-bottom: 20px; height: 60px;">Авторизация</button></a>
            <a href="/register"><button class="btn btn-main w-100"style="height: 60px;">Регистрация</button></a>
        </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center w-50">
        <div class="fs-3 w-75">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
</div>